@model List<KasutajatugiPraktika.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Pöördumised kasutajatoe poole</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Kirjeldus</th>
        <th>Sisestamise Aeg</th>
        <th>Lahendamise Tähtaeg</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Ticket ticket in Model)
    {
        <tr class="@((ticket.Deadline < DateTime.Now.AddHours(1) ) ? "overdue" : "")">
            <td>@ticket.Id</td>
            <td>@ticket.Description</td>
            <td>@ticket.InsertionTime</td>
            <td>@ticket.Deadline</td>
            <td>
                <a asp-action="Solve" asp-route-id="@ticket.Id">Lahenda</a>
            </td>
        </tr>
    }
    </tbody>
</table>
